# Web framework & server
fastapi
uvicorn[standard]
websockets
python-multipart

# Database
SQLAlchemy>=2.0
asyncpg
psycopg2-binary
alembic

# Config & validation
pydantic
pydantic-settings
pydantic[email]
python-dotenv

# Testing
pytest
pytest-asyncio
httpx
httpx2  
aiosqlite

# Code quality
black
flake8